
.nav-link[data-toggle].collapsed:after {
    content: " ▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: " ▴";
}

@media (min-width: 768px){
.row-cols-md-2>* {
    flex: 0 0 auto;
    width: 37%;
}
}

.card img{
   max-width: 329.47px;
   max-height:237.99px;
}